<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent A Tool</title>
    <!-- bootstrap cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body class="d-flex flex-column justify-content-between min-vh-100">
    <!-- header -->
    <%- include('partials/header') %>

    <!-- tools card -->

    <% if (data.length > 0) { %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% data.map(tool => { %>
      <div class="col">
        <div class="card">
          <img src="<%= tool.image %>" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%= tool.name %></h5>
            <p>price: <%= tool.price %></p>
            <p>code: <%= tool.code %></p>
            <p>category : <%= tool.category %></p>
            <p class="card-text"><%= tool.description %></p>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <% } %>

    <!-- footer -->
    <%- include('partials/footer') %>

    <!-- bootstrap cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
