<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Tool</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
  </head>
  <body class="d-flex flex-column justify-content-between min-vh-100">
    <!-- header -->
    <%- include('partials/header') %>

    <section class="container">
      <!-- alert message start -->
      <div id="responseSuccessMsg" role="alert"></div>
      <div id="responseFailedMsg" role="alert"></div>
      <!-- alert message end -->

      <hr style="border: 1px solid #000" />
      <h3 class="text-center">Add A New Tool</h3>
      <form id="createToolForm">
        <div class="row mb-3">
          <label for="code" class="col-sm-2 col-form-label">Code</label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              id="code"
              name="code"
              required />
          </div>
        </div>

        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required />
          </div>
        </div>

        <div class="row mb-3">
          <label for="price" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              required />
          </div>
        </div>

        <div class="row mb-3">
          <label for="category" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="category"
              name="category"
              required />
          </div>
        </div>

        <div class="row mb-3">
          <label for="description" class="col-sm-2 col-form-label"
            >Description</label
          >
          <div class="col-sm-10">
            <textarea
              class="form-control"
              id="description"
              name="description"
              rows="3"
              required></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <label for="image" class="col-sm-2 col-form-label">Image</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="image"
              name="image"
              required />
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="text-white py-2 px-5"
            style="background: #deb887; border: 1px solid #deb887"
            onclick="submitForm()">
            Add Tool
          </button>
        </div>
      </form>
    </section>

    <hr class="container" style="border: 1px solid #000" />
    <!-- Table Data -->
    <section class="table-responsive container mt-3">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Price (SAR per day)</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Image File</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% if (data?.length > 0) { %> <% data?.map(tool => { %>
          <tr>
            <th scope="row"><%= tool?.code %></th>
            <td><%= tool?.name %></td>
            <td><%= tool?.price %></td>
            <td><%= tool?.category %></td>
            <td><%= tool?.description %></td>
            <td style="width: 150px">
              <img src="<%= tool.image %>" class="w-100" alt="..." />
            </td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="6" class="text-center fs-3 fw-semibold text-warning">
              Sorry! No Data Found!
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>

    <!-- footer -->
    <%- include('partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>

    <script>
      async function submitForm() {
        const form = document.getElementById("createToolForm");
        const responseSuccessMsg =
          document.getElementById("responseSuccessMsg");
        const responseFailedMsg = document.getElementById("responseFailedMsg");

        const formData = new FormData(form);

        try {
          const response = await fetch("/post-tool", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(Object.fromEntries(formData)),
          });

          const responseData = await response.json();

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
            responseFailedMsg.classList.add(
              "alert",
              "alert-danger",
              "text-center",
              "w-50",
              "mx-auto",
              "mt-3"
            );
            responseFailedMsg.innerText = responseData.data;
          }

          location.reload(true);

          responseSuccessMsg.classList.add(
            "alert",
            "alert-success",
            "text-center",
            "w-50",
            "mx-auto",
            "mt-3"
          );
          responseSuccessMsg.innerText = responseData.data;

          // Handle success, e.g., redirect or display a success message
        } catch (error) {
          console.error("Error creating tool:", error);
        }
      }
    </script>
  </body>
</html>
